* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ac53ec;
}
.container {
  perspective: 500px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #ac53ec;
  border-radius: 40px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15),
  inset -5px -5px 15px rgba(255, 255, 255, 0.15),
  5px 5px 15px rgba(0, 0, 0, 0.15),
  -5px -5px 15px rgba(255, 255, 255, 0.15);
  transform: rotateX(50deg) rotateY(0deg) rotate(-45deg);
}
.card::before {
  content: '';
  position: absolute;
  inset: 5px;
  background: #ffffff;
  border-radius: 35px;
  transition: 0.5s;
}
.card:hover::before {
  transform: perspective(500px) translateZ(100px) translate(60px, -60px);
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.25);
}