* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./bg.jpg") center;
  background-size: cover;
}
.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./paper.jpg") center;
  background-size: cover;
  mix-blend-mode: lighten;
  filter: brightness(1.1);
}