* {
  margin: 0;
  height: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
.portrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.portrait img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.portrait img.texture {
  mix-blend-mode: multiply;
  filter: contrast(1.5);
}